<?xml version="1.0" encoding="utf-16"?>
<Configurations xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <FactoryConfigurations>

    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Repository.FoodRegionRepository" />
      <Info>FoodRegion Repository</Info>
      <AssemblyType Key="FoodRegion" ClassType="clsTypeRepository" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Model.FoodRegion" />
      <Info>FoodRegion Repository</Info>
      <AssemblyType Key="FoodRegion" ClassType="clsTypeDataModel" />
    </FactoryConfiguration>
    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Context.PurchasingDataModelContext" />
      <Info>FoodRegion Data Context</Info>
      <AssemblyType Key="FoodRegion" ClassType="clsTypeDataContext" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Business.dll" ClassName="Com.Wiseape.Purchasing.Business.Service.FoodRegionService" />
      <Info>FoodRegion Business Service</Info>
      <AssemblyType Key="FoodRegion" ClassType="clsTypeBusinessService" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.FormDataConverter.FoodRegionFormDataConverter" />
      <Info>FoodRegion Form Data Converter</Info>
      <AssemblyType Key="FoodRegion" ClassType="clsTypeFormProcessor" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Validator.FoodRegionFormValidator" />
      <Info>FoodRegion Form Validator</Info>
      <AssemblyType Key="FoodRegion" ClassType="clsTypeFormValidator" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Form.FoodRegionForm" />
      <Info>FoodRegion Form</Info>
      <AssemblyType Key="FoodRegion" ClassType="clsTypeForm" />
    </FactoryConfiguration>

    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Repository.FoodIngredientRepository" />
      <Info>FoodIngredient Repository</Info>
      <AssemblyType Key="FoodIngredient" ClassType="clsTypeRepository" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Model.FoodIngredient" />
      <Info>FoodIngredient Repository</Info>
      <AssemblyType Key="FoodIngredient" ClassType="clsTypeDataModel" />
    </FactoryConfiguration>
    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Context.PurchasingDataModelContext" />
      <Info>FoodIngredient Data Context</Info>
      <AssemblyType Key="FoodIngredient" ClassType="clsTypeDataContext" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Business.dll" ClassName="Com.Wiseape.Purchasing.Business.Service.FoodIngredientService" />
      <Info>FoodIngredient Business Service</Info>
      <AssemblyType Key="FoodIngredient" ClassType="clsTypeBusinessService" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.FormDataConverter.FoodIngredientFormDataConverter" />
      <Info>FoodIngredient Form Data Converter</Info>
      <AssemblyType Key="FoodIngredient" ClassType="clsTypeFormProcessor" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Validator.FoodIngredientFormValidator" />
      <Info>FoodIngredient Form Validator</Info>
      <AssemblyType Key="FoodIngredient" ClassType="clsTypeFormValidator" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Form.FoodIngredientForm" />
      <Info>FoodIngredient Form</Info>
      <AssemblyType Key="FoodIngredient" ClassType="clsTypeForm" />
    </FactoryConfiguration>

    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Repository.PastaTypeRepository" />
      <Info>PastaType Repository</Info>
      <AssemblyType Key="PastaType" ClassType="clsTypeRepository" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Model.PastaType" />
      <Info>PastaType Repository</Info>
      <AssemblyType Key="PastaType" ClassType="clsTypeDataModel" />
    </FactoryConfiguration>
    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Context.PurchasingDataModelContext" />
      <Info>PastaType Data Context</Info>
      <AssemblyType Key="PastaType" ClassType="clsTypeDataContext" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Business.dll" ClassName="Com.Wiseape.Purchasing.Business.Service.PastaTypeService" />
      <Info>PastaType Business Service</Info>
      <AssemblyType Key="PastaType" ClassType="clsTypeBusinessService" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.FormDataConverter.PastaTypeFormDataConverter" />
      <Info>PastaType Form Data Converter</Info>
      <AssemblyType Key="PastaType" ClassType="clsTypeFormProcessor" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Validator.PastaTypeFormValidator" />
      <Info>PastaType Form Validator</Info>
      <AssemblyType Key="PastaType" ClassType="clsTypeFormValidator" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Form.PastaTypeForm" />
      <Info>PastaType Form</Info>
      <AssemblyType Key="PastaType" ClassType="clsTypeForm" />
    </FactoryConfiguration>

    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Repository.RecipeRepository" />
      <Info>Recipe Repository</Info>
      <AssemblyType Key="Recipe" ClassType="clsTypeRepository" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Model.Recipe" />
      <Info>Recipe Repository</Info>
      <AssemblyType Key="Recipe" ClassType="clsTypeDataModel" />
    </FactoryConfiguration>
    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Context.PurchasingDataModelContext" />
      <Info>Recipe Data Context</Info>
      <AssemblyType Key="Recipe" ClassType="clsTypeDataContext" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Business.dll" ClassName="Com.Wiseape.Purchasing.Business.Service.RecipeService" />
      <Info>Recipe Business Service</Info>
      <AssemblyType Key="Recipe" ClassType="clsTypeBusinessService" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.FormDataConverter.RecipeFormDataConverter" />
      <Info>Recipe Form Data Converter</Info>
      <AssemblyType Key="Recipe" ClassType="clsTypeFormProcessor" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Validator.RecipeFormValidator" />
      <Info>Recipe Form Validator</Info>
      <AssemblyType Key="Recipe" ClassType="clsTypeFormValidator" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Form.RecipeForm" />
      <Info>Recipe Form</Info>
      <AssemblyType Key="Recipe" ClassType="clsTypeForm" />
    </FactoryConfiguration>

    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Repository.ArticleContentRepository" />
      <Info>ArticleContent Repository</Info>
      <AssemblyType Key="ArticleContent" ClassType="clsTypeRepository" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Model.ArticleContent" />
      <Info>ArticleContent Repository</Info>
      <AssemblyType Key="ArticleContent" ClassType="clsTypeDataModel" />
    </FactoryConfiguration>
    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Context.PurchasingDataModelContext" />
      <Info>ArticleContent Data Context</Info>
      <AssemblyType Key="ArticleContent" ClassType="clsTypeDataContext" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Business.dll" ClassName="Com.Wiseape.Purchasing.Business.Service.ArticleContentService" />
      <Info>ArticleContent Business Service</Info>
      <AssemblyType Key="ArticleContent" ClassType="clsTypeBusinessService" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.FormDataConverter.ArticleContentFormDataConverter" />
      <Info>ArticleContent Form Data Converter</Info>
      <AssemblyType Key="ArticleContent" ClassType="clsTypeFormProcessor" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Validator.ArticleContentFormValidator" />
      <Info>ArticleContent Form Validator</Info>
      <AssemblyType Key="ArticleContent" ClassType="clsTypeFormValidator" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Form.ArticleContentForm" />
      <Info>ArticleContent Form</Info>
      <AssemblyType Key="ArticleContent" ClassType="clsTypeForm" />
    </FactoryConfiguration>

    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Repository.MemberRepository" />
      <Info>Member Repository</Info>
      <AssemblyType Key="Member" ClassType="clsTypeRepository" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Model.Member" />
      <Info>Member Repository</Info>
      <AssemblyType Key="Member" ClassType="clsTypeDataModel" />
    </FactoryConfiguration>
    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Context.PurchasingDataModelContext" />
      <Info>Member Data Context</Info>
      <AssemblyType Key="Member" ClassType="clsTypeDataContext" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Business.dll" ClassName="Com.Wiseape.Purchasing.Business.Service.MemberService" />
      <Info>Member Business Service</Info>
      <AssemblyType Key="Member" ClassType="clsTypeBusinessService" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.FormDataConverter.MemberFormDataConverter" />
      <Info>Member Form Data Converter</Info>
      <AssemblyType Key="Member" ClassType="clsTypeFormProcessor" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Validator.MemberFormValidator" />
      <Info>Member Form Validator</Info>
      <AssemblyType Key="Member" ClassType="clsTypeFormValidator" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Form.MemberForm" />
      <Info>Member Form</Info>
      <AssemblyType Key="Member" ClassType="clsTypeForm" />
    </FactoryConfiguration>

    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Repository.GenderRepository" />
      <Info>Gender Repository</Info>
      <AssemblyType Key="Gender" ClassType="clsTypeRepository" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Model.Gender" />
      <Info>Gender Repository</Info>
      <AssemblyType Key="Gender" ClassType="clsTypeDataModel" />
    </FactoryConfiguration>
    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Context.PurchasingDataModelContext" />
      <Info>Gender Data Context</Info>
      <AssemblyType Key="Gender" ClassType="clsTypeDataContext" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Business.dll" ClassName="Com.Wiseape.Purchasing.Business.Service.GenderService" />
      <Info>Gender Business Service</Info>
      <AssemblyType Key="Gender" ClassType="clsTypeBusinessService" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.FormDataConverter.GenderFormDataConverter" />
      <Info>Gender Form Data Converter</Info>
      <AssemblyType Key="Gender" ClassType="clsTypeFormProcessor" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Validator.GenderFormValidator" />
      <Info>Gender Form Validator</Info>
      <AssemblyType Key="Gender" ClassType="clsTypeFormValidator" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Form.GenderForm" />
      <Info>Gender Form</Info>
      <AssemblyType Key="Gender" ClassType="clsTypeForm" />
    </FactoryConfiguration>

    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Repository.AreaRepository" />
      <Info>Area Repository</Info>
      <AssemblyType Key="Area" ClassType="clsTypeRepository" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Model.Area" />
      <Info>Area Repository</Info>
      <AssemblyType Key="Area" ClassType="clsTypeDataModel" />
    </FactoryConfiguration>
    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Context.PurchasingDataModelContext" />
      <Info>Area Data Context</Info>
      <AssemblyType Key="Area" ClassType="clsTypeDataContext" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Business.dll" ClassName="Com.Wiseape.Purchasing.Business.Service.AreaService" />
      <Info>Area Business Service</Info>
      <AssemblyType Key="Area" ClassType="clsTypeBusinessService" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.FormDataConverter.AreaFormDataConverter" />
      <Info>Area Form Data Converter</Info>
      <AssemblyType Key="Area" ClassType="clsTypeFormProcessor" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Validator.AreaFormValidator" />
      <Info>Area Form Validator</Info>
      <AssemblyType Key="Area" ClassType="clsTypeFormValidator" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Form.AreaForm" />
      <Info>Area Form</Info>
      <AssemblyType Key="Area" ClassType="clsTypeForm" />
    </FactoryConfiguration>

    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Repository.MemberGroupRepository" />
      <Info>MemberGroup Repository</Info>
      <AssemblyType Key="MemberGroup" ClassType="clsTypeRepository" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Model.MemberGroup" />
      <Info>MemberGroup Repository</Info>
      <AssemblyType Key="MemberGroup" ClassType="clsTypeDataModel" />
    </FactoryConfiguration>
    <FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Data.dll" ClassName="Com.Wiseape.Purchasing.Data.Context.PurchasingDataModelContext" />
      <Info>MemberGroup Data Context</Info>
      <AssemblyType Key="MemberGroup" ClassType="clsTypeDataContext" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.Business.dll" ClassName="Com.Wiseape.Purchasing.Business.Service.MemberGroupService" />
      <Info>MemberGroup Business Service</Info>
      <AssemblyType Key="MemberGroup" ClassType="clsTypeBusinessService" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.FormDataConverter.MemberGroupFormDataConverter" />
      <Info>MemberGroup Form Data Converter</Info>
      <AssemblyType Key="MemberGroup" ClassType="clsTypeFormProcessor" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Validator.MemberGroupFormValidator" />
      <Info>MemberGroup Form Validator</Info>
      <AssemblyType Key="MemberGroup" ClassType="clsTypeFormValidator" />
    </FactoryConfiguration>
	<FactoryConfiguration>
      <AssemblyInfo DllFile="Com.Wiseape.Purchasing.View.dll" ClassName="Com.Wiseape.Purchasing.View.Form.MemberGroupForm" />
      <Info>MemberGroup Form</Info>
      <AssemblyType Key="MemberGroup" ClassType="clsTypeForm" />
    </FactoryConfiguration>

  </FactoryConfigurations>
</Configurations>